<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <a href="/create"><button type="button" class="btn btn-primary mt-4">Nuevo</button></a>
      <table class="table table-bordered table-striped text-center mt-4">
        <thead>
          <tr class="bg-primary text-white">
            <th scope="col">ID</th>
            <th scope="col">USUARIO</th>
            <th scope="col">ROL</th>
            <th scope="col">ACCION</th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach((user)=>{ %>

          <tr>
            <td><%= user.id %></td>
            <td><%= user.user %></td>
            <td><%= user.rol %></td>
            <td>
              <a href="/edit/<%= user.id %>"><button type="button" class="btn btn-warning">Editar</button></a>
              <a href="/delete/<%= user.id %>"><button type="button" class="btn btn-danger">Eliminar</button></a>
            </td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>